<% if current_user.admin? || current_user.premium? %>
  <div class="form-group">
    <%= form_for @wiki do |f| %>
      <%= f.label :private, class: 'checkbox' do %>
        <%= f.check_box :private %> Private wiki
      <% end %>
    <% end %>
  </div>
<% end %>
